body {
    margin: 12px;
    display: block;
    background-color: rgba(0, 21, 177, 0.325);
  }

  .engineOptions{
    display: block;
   
    padding-block: 30px;
    
  }

  input[type="radio"]:checked {
   
    accent-color: rgb(0, 0, 0);
  }